<nav>
    <ul>
        {{#each Sections}}
            <li data-section-target='{{Section}}'>{{Title}}</li>
        {{/each}}
    </ul>
</nav>

  <h1>{{Intro}}</h1>
aagcaadkjfhss

      {{#each Sections}}
         <section data-section-name='{{Section}}'>
             <h2>{{Title}}</h2>
             <p>{{Text}}</p>
        </section>
      {{/each}}
