<div class="gud-style__header">
    <div class="gud-style__intro">
        <h1>{{Intro}}</h1>
    </div>
</div>

<main>
    <!-- <nav>
        <ul>
            {{#each Sections}}
                <li data-section-target='{{Section}}'>{{Title}}</li>
            {{/each}}
        </ul>
    </nav> -->

    {{#each Sections}}
         <section data-section-name='{{Section}}'>
           <div class='slide intro'>
             <h2>{{Title}}</h2>
           </div>

           {{#each slides}}
            <div class='slide'>
              <div class='text'>
                <p>{{Text}}</p>
              </div>
              <div class='image'>
                image: {{Image}}
              </div>
            </div>
           {{/each}}
        </section>
    {{/each}}
</main>
